@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    padding: 12px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#search-icon {
    position: absolute;
    top: 15%;
    transform: translateY(50%);
    right: 15px;
    cursor: pointer;
}

#search-container {
    position: relative;
}

#cart-quantity {
    top: 6.5%;
  position: absolute;
  right: 7.5%;
  padding-top: .2rem;
}

.container-closed {
    display:none;
}
